@font-face{
	font-family: "HelveticaNeue Light";
	src : '../fonts/HelveticaNeue Light.ttf';
}

body{
	margin: 0;
	background-color: lightgray;
}

#menu{
	display: inline-block;
	position: fixed;
	background-color: #333;
	height: 100%;
	width: 70px;
	padding: 10px;
	padding-right: 7px;
}
.color{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 5px 5px 0;
}

input.brush{
	width: 60px;
}

label.brush{
	width: 60px;
	color: white;
	font-family: "HelveticaNeue Light", sans-serif;
	font-size: 10pt;
}

#canvas{
	position: absolute;
	display: inline-block;
	margin-left: 50%;
	margin-top: 50vh;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 60%;
	max-width: 95%;
	max-height: 98%;
	box-shadow: 2px 4px 15px #333;

}

